/*

!.devcontainer
!.vscode
!.stackblitzrc

!/app/
!/public/

!/package.json
!/package-lock.json

!/.browserslistrc
!/babel.config.*
!/eslint.config.*
!/next.config.*
!/postcss.config.*
!/tsconfig.json

!/prettier.config.*

!/README.md
!/.gitignore